.skills_label
{
  font-family: 'Press Start 2P';
  font-size: 45px;
  color: #243DCE;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 50px;
}
.skills 
{
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  padding: 50px;
}

.skills_picture
{
  display: inline-block;
  height: 30%;
}
.python,.c_language,.html,.sql,.css,.javascript,.sqlite,.php,.R
{
margin-left: 80px;
display: grid;
grid-template-columns: 1fr 1fr;
border-radius: 10px;
height: 17em;
cursor: pointer;
background-color:#9393e1;
width:23em;
}
.python:hover
{
  border-style: dashed;
  border-color:rgb(134, 134, 52);
  box-shadow: 5px 3px #8181ae;
  background-color:#8383e6;
}
.c_language:hover{

  
  border-style: dashed;
  border-color:rgb(134, 134, 52);
  box-shadow: 5px 3px #8181ae;
  background-color:#8383e6;
}
.R:hover{

  
  border-style: dashed;
  border-color:rgb(134, 134, 52);
  box-shadow: 5px 3px #8181ae;
  background-color:#8383e6;
}
.javascript:hover{
  
  
  border-style: dashed;
  border-color:rgb(134, 134, 52);
  box-shadow: 5px 3px #8181ae;
  background-color:#8383e6;
}
.php:hover{
  
  
  border-style: dashed;
  border-color:rgb(134, 134, 52);
  box-shadow: 5px 3px #8181ae;
  background-color:#8383e6;
}
.sql:hover
{ 
  
  border-style: dashed;
  border-color:rgb(134, 134, 52);
  box-shadow: 5px 3px #8181ae;
  background-color:#8383e6;
}
.sqlite:hover
{
  
  border-style: dashed;
  border-color:rgb(134, 134, 52);
  box-shadow: 5px 3px #8181ae;
  background-color:#8383e6;}

.css:hover{
  
  
  border-style: dashed;
  border-color:rgb(134, 134, 52);
  box-shadow: 5px 3px #8181ae;
  background-color:#8383e6;
}
.html:hover{
  
  
  border-style: dashed;
  border-color:rgb(134, 134, 52);
  box-shadow: 5px 3px #8181ae;
  background-color:#8383e6;
}